<!-- start slider -->
<div class="slider_bg">
    <div class="wrap">
        <div class="slider">
            <!---start-da-slider----->
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Lorem Ipsum is simply amet</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.</p>
                    <a href="details.html" class="da-link">Lorem Ipsum</a>
                </div>
                <div class="da-slide">
                    <h2>Clean,Flat & poloshed Design</h2>
                    <p>Proin facilisis aliquam nunc quis varius When she reached the first hills of the Italic
                        Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline
                        of Alphabet Village and the subline of her own road,</p>
                    <a href="details.html" class="da-link">Lorem Ipsum</a>
                </div>
                <div class="da-slide">
                    <h2>Lorem Ipsum is simply amet</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text.</p>
                    <a href="details.html" class="da-link">Lorem Ipsum</a>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
    </div>
</div>