<!-- start top_grid -->
<div class="top_bg">
    <div class="wrap">
        <div class="top_grid">
            <h2>our work</h2>
            <ul id="filters" class="clearfix">
                <li><span class="filter active" data-filter="icon logo web">UI</span></li>
                <li><span class="filter" data-filter="app card web">website</span></li>
                <li><span class="filter" data-filter="icon web card">photography</span></li>
                <li><span class="filter" data-filter="web app icon card">freebie</span></li>
                <li><span class="filter" data-filter="icon app web logo">identity</span></li>
                <li><span class="filter" data-filter="app card icon logo web">all</span></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div id="portfoliolist">
                <div class="grid_list">
                    <div class="portfolio logo1" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <a href="details.html">
                                <img src="/assets/images/pic1.jpg" alt="Image 2" />
                            </a>
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">work #1</a>
                                    <span class="text-category">photography</span>
                                </div>
                                <a href="details.html">
                                    <div class="label-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="grid_list1 grid_top">
                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <a href="details.html">
                                <img src="/assets/images/pic2.jpg" alt="Image 2" />
                            </a>
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">work #2</a>
                                    <span class="text-category">photography</span>
                                </div>
                                <a href="details.html">
                                    <div class="label-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="grid_list2 grid_top">
                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <a href="details.html">
                                <img src="/assets/images/pic4.jpg" alt="Image 2" />
                            </a>
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">work #4</a>
                                    <span class="text-category">photography</span>
                                </div>
                                <a href="details.html">
                                    <div class="label-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web grid_top" data-cat="web">
                        <div class="portfolio-wrapper">
                            <a href="details.html">
                                <img src="/assets/images/pic6.jpg" alt="Image 2" />
                            </a>
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">work #6</a>
                                    <span class="text-category">photography</span>
                                </div>
                                <a href="details.html">
                                    <div class="label-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="grid_list2 grid_top">
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <a href="details.html">
                                <img src="/assets/images/pic3.jpg" alt="Image 2" />
                            </a>
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">work #3</a>
                                    <span class="text-category">photography</span>
                                </div>
                                <a href="details.html">
                                    <div class="label-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card grid_top" data-cat="card">
                        <div class="portfolio-wrapper">
                            <a href="details.html">
                                <img src="/assets/images/pic5.jpg" alt="Image 2" />
                            </a>
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">work #5</a>
                                    <span class="text-category">photography</span>
                                </div>
                                <a href="details.html">
                                    <div class="label-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- container -->
            <script type="text/javascript" src="/assets/js/fliplightbox.min.js"></script>
            <script type="text/javascript">$('body').flipLightBox()</script>
            <div class="clear"></div>
        </div>
        <!---End-gallery----->
    </div>
</div>