<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Angular 9 Php Mysql Database Crud Part 2</h1>
    <h3>Add User</h3>
</div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/users">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" routerLink="/adduser">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">Users</a>
            </li>
        </ul>
    </div>
</nav>

