<!-- start mid_grid -->
<div class="mid_bg">
    <div class="wrap">
        <div class="main">
            <h2 class="style">about me</h2>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="mid_bg1">
    <div class="wrap">
        <div class="main">
            <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.</p>
            <section>
                <ul class="lb-album">
                    <li>
                        <a href="details.html">
                            <img src="/assets/images/icon3.jpg" alt="image01">
                            <span>
                                <h3>UI</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="details.html">
                            <img src="/assets/images/icon1.jpg" alt="image02">
                            <span>
                                <h3>flat Kit</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="details.html">
                            <img src="/assets/images/icon2.jpg" alt="image03">
                            <span>
                                <h3>UI kit</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="details.html">
                            <img src="/assets/images/icon3.jpg" alt="image04">
                            <span>
                                <h3>flat UI</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </span>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </section>
            <div class="clear"></div>
        </div>
    </div>
</div>